$accent-color: #fe6928;
$inactive-accent-color: #525252;
$background-color: #000524;
$secondary-accent-color: #740001;
$header-text-color: #313131;
$text-color: #6E7881;
$data-color: rgb(116 0 1);
$header-color: #838C95;
$footer-color: #303030;
