.hero {
  height: 100vh;
  justify-content: center;
  background: url(../images/hero6.jpg);
  filter: grayscale(0.7);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
}

.sticky+main {
  padding-top: 60px;
}

.center-text {
  justify-content: center;
  text-align: center;

  .row {
    height: 100%;
  }

  h1 {
    font-size: calc(10vw);
    opacity: 0.8;
  }

  h2 {
    font-size: calc(5vw);
  }
}