@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "styles/Colours.scss";
@import "styles/Fonts.scss";
@import "styles/Navbar.scss";
@import "styles/About.scss";
@import "styles/Resume.scss";
@import "styles/Footer.scss";

$primary: $accent-color;

p {
  line-height: 2;
}

body {
  position: relative;
}

@import "~bootstrap/scss/bootstrap";


